<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="TriviaService"
        address = "net.tcp://localhost:13200/QuizGame/TriviaService"
        binding = "netTcpBinding"
        contract = "QuizGameLibrary.IQuizGame"
      >
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>